<div class="modal fade" id="compatbilityReadMore" tabindex="-1" role="dialog" aria-labelledby="compatbilityReadMoreLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="compatbilityReadMoreLabel">Try premium</h4>
                <button class="close" type="button" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Detailed description of your compatibility!</li>
                    <li>The future of your relationship!</li>
                    <li>How to improve your relationship!</li>
                    <li>And much more</li>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="/Payment/Payment" class="btn btn-primary btn-shadow btn-gradient">Buy for 0.99$</a>
            </div>
        </div>
    </div>
</div>