 <div class="modal fade" id="moreCelebritiesModal" tabindex="-1" role="dialog" aria-labelledby="moreCelebritiesLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="moreCelebritiesLabel">Try premium</h4>
                <button class="close" type="button" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Search among 100,000 celebrities!</li>
                    <li>Most similar to you celebrities!</li>
                    <li>More celebrities like you!</li>
                    <li>And much more!</li>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="/Payment/Payment" class="btn btn-primary btn-shadow btn-gradient">Buy for 0.99$</a>
            </div>
        </div>
    </div>
</div>