<div class="modal fade" id="readMoreModal" tabindex="-1" role="dialog" aria-labelledby="readMoreMdalLabels" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="readMoreMdalLabel">Try premium</h4>
                <button class="close" type="button" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Full description of your personality!</li>
                    <li>Recommendations for eliminating weaknesses!</li>
                    <li>What a job for you!</li>
                    <li>And much more</li>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="/Payment/Payment" class="btn btn-primary btn-shadow btn-gradient">Buy for 0.99$</a>
            </div>
        </div>
    </div>
</div>