@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}

<!-- Modal-->
@RenderPage("../Account/Login.cshtml")
@RenderPage("../Account/Register.cshtml")
<section id="hero" class="hero hero-home bg-gray">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-6 text order-2 order-lg-1">
                <h1>Personality analysis by date of birth</h1>
                <p class="hero-text">Registration here use your date of birth for analisis</p>
                <div class="CTA"><a href="#testimonials" class="btn btn-primary btn-shadow btn-gradient link-scroll">Discover More</a><a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#signupModal">Sign Up Now</a></div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">@*<img src="~/Content/img/Macbook.png" alt="..." class="img-fluid">*@</div>
        </div>
    </div>
</section>
<section id="testimonials" class="testimonials">
    <div class="container">
        <header class="text-center no-margin-bottom">
            <h2>Happy Clients</h2>
            <p class="lead">There are many variations of passages of Lorem Ipsum available, but the majority have</p>
        </header>
        <div class="owl-carousel owl-theme testimonials-slider">
            <div class="item-holder">
                <div class="item">
                    <div class="avatar"><img src="~/Content/img/avatar-3.jpg" alt="..." class="img-fluid"></div>
                    <div class="text">
                        <div class="quote"><img src="~/Content/img/quote.svg" alt="..." class="img-fluid"></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p><strong class="name">Jessica Watson</strong>
                    </div>
                </div>
            </div>
            <div class="item-holder">
                <div class="item">
                    <div class="avatar"><img src="~/Content/img/avatar-5.jpg" alt="..." class="img-fluid"></div>
                    <div class="text">
                        <div class="quote"><img src="~/Content/img/quote.svg" alt="..." class="img-fluid"></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p><strong class="name">Sarrah Wood</strong>
                    </div>
                </div>
            </div>
            <div class="item-holder">
                <div class="item">
                    <div class="avatar"><img src="~/Content/img/avatar-3.jpg" alt="..." class="img-fluid"></div>
                    <div class="text">
                        <div class="quote"><img src="~/Content/img/quote.svg" alt="..." class="img-fluid"></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p><strong class="name">Jessica Watson</strong>
                    </div>
                </div>
            </div>
            <div class="item-holder">
                <div class="item">
                    <div class="avatar"><img src="~/Content/img/avatar-5.jpg" alt="..." class="img-fluid"></div>
                    <div class="text">
                        <div class="quote"><img src="~/Content/img/quote.svg" alt="..." class="img-fluid"></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p><strong class="name">Sarrah Wood</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="newsletter" class="newsletter bg-gray">
    <div class="container text-center">
        <h2>Subscribe to Newsletter</h2>
        <p class="lead">There are many variation passages of lorem ipsum, but the majority have</p>
        <div class="form-holder">
            <form id="newsletterForm" action="#">
                <div class="form-group">
                    <input type="email" name="email" id="email" placeholder="Enter Your Email Address">
                    <button type="submit" class="btn btn-primary btn-gradient submit">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</section>