@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container">
    @*<div class="row" style="margin-top: 200px">*@
    <div class="row pt-5">
        <div class="col text-center">
            <h1>Personality analysis by date of birth</h1>
            <div class="row">
                <div class="col text-center">
                    @Html.ActionLink("Log in", "Login", "Account", null, new { @class = "btn btn-primary btn-lg mt-2 col-8 col-md-4" })
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-primary btn-lg mt-2 col-8 col-md-4" })
                </div>
            </div>
        </div>
    </div>
</div>