@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row align-items-center">
        <div class="col text-center">
            <h2 class="display-4">Success!</h2>
            <h4 class="font-weight-light">
                Payment is sheduled
            </h4>
        </div>
    </div>
</div>