@model MatchUp.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
    {
        <div id="socialLoginList" class="col-md-10">
            @foreach (AuthenticationDescription p in loginProviders)
            {
                <button type="submit" class="btn btn-primary col-5 col-md-2 mt-2" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType">@p.AuthenticationType</button>
            }
        </div>

    }
}
